jsonschema-specifications==2023.12.1
attrs==23.2.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
isoduration==20.11.0
nbconvert==7.16.1
notebook==7.1.1
bleach==6.1.0
nbformat==5.9.2
jsonschema==4.21.1
beautifulsoup4==4.12.3
anyio==4.3.0
jupyterlab==4.1.2
jupyterlab-server==2.25.3
jupyter-server==2.12.5
jupyter-lsp==2.2.3
async-lru==2.0.4
fqdn==1.5.1
arrow==1.3.0
httpcore==1.0.4
referencing==0.33.0
httpx==0.27.0
h11==0.14.0
json5==0.9.17
jupyter-events==0.9.0
nbclient==0.9.0
defusedxml==0.7.1
jupyter-server-terminals==0.5.2
notebook-shim==0.2.4
setuptools==65.5.0
pip==25.0.1
packaging==24.2
pillow==11.0.0
pytest==8.3.5
coverage==7.8.0
pymunk==6.9.0
pytest-cov==6.1.1
typing-extensions==4.13.1
arcade==3.1.0
pycparser==2.22
pytiled-parser==2.2.9
pyglet==2.1.3
iniconfig==2.1.0
cffi==1.17.1
pluggy==1.5.0
sniffio==1.3.1
colorama==0.4.6
python-multipart==0.0.20
